<!DOCTYPE html>
<html>
  <head>
    <title>Layer CSS</title>
    <% include partials/default_meta.ejs %>
  </head>
  <body>
    <div class="main-container">
      <div class="example-box">
        <p>Normal</p>
      </div>

      <div class="example-box layer-base">
        <div class="overlay-apply"></div>
        <p>Default Overlay Example</p>
      </div>
      <div class="example-box custom-overlay-1">
        <p>Custom Overlay Example</p>
      </div>
      <div class="example-box custom-overlay-2">
        <p>Custom Overlay Example</p>
      </div>

      <div class="example-box layer-base">
        <div class="gradientL-apply"></div>
        <p>Default Linear-Gradient Example</p>
      </div>
      <div class="example-box custom-gradient-1">
        <p>Custom Linear-Gradient Example</p>
      </div>
      <div class="example-box custom-gradient-2">
        <p>Custom Linear-Gradient Example</p>
      </div>

      <div class="example-box layer-base">
        <div class="gradientR-apply"></div>
        <p>Default Radial-Gradient Example</p>
      </div>
      <div class="example-box custom-gradientR-1">
        <p>Custom Radial-Gradient Example</p>
      </div>
      <div class="example-box custom-gradientR-2">
        <p>Custom Radial-Gradient Example</p>
      </div>
      
      <div class="example-box layer-base">
        <div class="shadow-apply"></div>
        <p>Default Shadow Example</p>
      </div>

      <div class="example-box custom-shadow-1">
        <p>Custom Shadow Example</p>
      </div>
      <div class="example-box custom-shadow-2">
        <p>Custom Shadow Example</p>
      </div>
    </div>
  </body>
</html>