<!DOCTYPE html>
<html>
  <head>
    <title>Layer CSS</title>
    <% include partials/default_meta.ejs %>
  </head>
  <body>
    <div class="main-container">
      <div class="example-box">
        <p>Normal</p>
      </div>
      <div class="example-box overlay">
        <p>Default Overlay Example</p>
      </div>
      <div class="example-box gradient">
        <p>Default Gradient Example</p>
      </div>
      <div class="example-box shadow">
        <p>Default Fade Example</p>
      </div>
    </div>
  </body>
</html>