html, body {
  height: 100%;
  width: 100%;
  min-height: 100%;
  min-width: 100%;
  overflow-x: hidden;
  display: inline-block;
}

.example-box {
  height: 300px;
  width: 300px;
}

@import './components/overlay.scss';