@mixin shadow-apply($right, $bottom, $range, $color) {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  content: "";
  box-shadow: $right $bottom $range $color;
}

.shadow {
  position: relative;
  z-index: 1;
  &:before {
    @include shadow-apply(5px, 5px, 5px, rgba(0, 0, 0, 0.5));
  }
}