@mixin gradientL-apply($direction, $from, $to) {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  content: "";
  background-image: linear-gradient(
    $direction,
    $from, $to
  );
}

// background-image: radial-gradient(shape size at position, start-color, ..., last-color);
// #grad {
//   background-image: radial-gradient(circle, red, yellow, green);
// }
// #grad1 {
//   background-image: radial-gradient(closest-side at 60% 55%, red, yellow, black);
// }

// #grad2 {
//   background-image: radial-gradient(farthest-side at 60% 55%, red, yellow, black);
// }
// closest-side
// farthest-side
// closest-corner
// farthest-corner
@mixin gradientR-apply($shape, $position, $from, $to) {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  content: "";
  background-image: radial-gradient($shape at $position, $from, $to);
}

.layer-base {
  position: relative;
  z-index: 1;
  .gradientL-apply {
    @include gradientL-apply(to right, #FFF, transparent);
  }
}

.layer-base {
  position: relative;
  z-index: 1;
  .gradientR-apply {
    @include gradientR-apply(circle, 50%, transparent, #FFF);
  }
}