@mixin overlay-apply($color, $opacity) {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  content: "";
  background-color: $color;
  opacity: $opacity;
  z-index: -1;
}

.layer-base {
  position: relative;
  z-index: 1;
  .overlay-apply {
    @include overlay-apply(black, 0.5);
  }
}